[Unit]
Description=SolarEdge Capture via ethernet sniffing
After=syslog.target
After=multi-user.target
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/opt/SolarEdge/solaredge/secapture
Restart=on-abort

[Install]
WantedBy=multi-user.target

