[Unit]
Description=SolarEdge monitor
After=syslog.target
After=multi-user.target
After=network-online.target

[Service]
ExecStart=/opt/SolarEdge/solaredge/semonitor
Restart=on-abort

[Install]
WantedBy=multi-user.target
